/* zerando tudo */
* {
    margin:0;
    padding: 0;
}


.paginainicial{
    background-image: url(../Webservices/imagem/fundo.jpeg); /* inserindo a imagem */
    background-repeat: no-repeat; /* para nao repetir a imagem */
    background-size: cover; /* fara com que a imagem cobrar todo o fundo */
}

/*div */
.centralizado{
    position: absolute;
    left: 50%; /* 50% a direita */
    top: 50%;  /* 50% em cima e em baixo */
    transform: translate(-50%, -50%); /*Move o elemento de volta 50% da sua largura e 50% da sua altura, para centralizá-lo em relação ao ponto definido em  */
    width: 500px; /* largura */
    height: 400px; /* altura */
    text-align: center; /* deixando o conteudo do elemento como centralizado */
}

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 3px solid #3d9db3;
    background-color: #f6f6f6;
}

/* h2 login e senha */
.login {
    font-size: 50px;
    color: #3d9db3;
    padding: 3px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
}

.login:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}

::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

label {
    margin-top: 2px;
}

.texto,
.senha{
   width: 80%!important;
  cursor: pointer;  
  background: white;
  padding: 8px 5px;
  color: lightgrey;
  font-size: 20px;  
  border: 1px solid #3d9db3;   
  margin-bottom: 10px;  
}

/* botão */
.entra {
    width: 80%;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 2%;
}

.cadastro {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 2%;
}

/* ao passa o mouse por cima do botão */
.entra:hover {
    background-color:#42426F;
}

.cadastro:hover {
    background-color: #42426F;
}

/***** LAYOUT PAGINA INDEX.HTML CABEÇALHO **********/
.cabecalho {
    background-color: #42426F;
    padding: 35px;
    text-align: center;
}

.logo {
    padding: 10px;
}

.pontoh1 {
    color: #fff;
    font-size: 3.5em;
    text-shadow: 10px 10px 10px black;
}

.vermelho {
    color: red;
    
}

.menu {
    position: absolute;
    display: inline-block;
    left: 0;
    margin-left: 10px;
}

.menu-button {
    background-color: #4caf50;
    padding: 8px;
    width: 70px;
    border: 0;
    border-radius: 5px;
    Cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.opcao {
    display: block;
    padding: 15px;
    background-color: #4caf50;
    color: black
}

.menu-content {
    display: none;
}

.menu-content.show {
    display: block;
}

/** LAYOUT CORPO DA PAGINA INDEX.HTML **/
.marca_funcionario {
    font-size: 25px;
    color: #3d9db3;
    padding: 3px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
}

.marca_ponto {
    position: absolute;
    left: 50%; /* 50% a direita */
    top: 50%;  /* 50% em cima e em baixo */
    transform: translate(-50%, -50%); /*Move o elemento de volta 50% da sua largura e 50% da sua altura, para centralizá-lo em relação ao ponto definido em  */
    width: 900px; /* largura */
    height: 400px; /* altura */
    text-align: center; /* deixando o conteudo do elemento como centralizado */
    margin-top: 100px;
    border-radius: 30px ;
    box-shadow: 15px 15px 50px 15px #808080;
}

.ponto_centralizado {
    left: 50%; /* 50% a direita */
    right: 50%;
    padding-top: 115px;
}

.botao_ponto {
    background-color: blue;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5);
}

.botao_ponto:hover {
    background-color: #4caf50;
}
